:root {
  /*Font Size*/
  --font-sizing-4xl: 48px;
  --font-sizing-3xl: 40px;
  --font-sizing-2xl: 32px;
  --font-sizing-xl: 24px;
  --font-sizing-lg: 20px;
  --font-sizing-md: 16px;
  --font-sizing-sm: 14px;
  --font-sizing-xs: 12px;
  --font-sizing-2xs: 11px;
  /*Font Spacing*/
  --font-spacing-3xl: 64px;
  --font-spacing-2xl: 56px;
  --font-spacing-xl: 48px;
  --font-spacing-lg: 40px;
  --font-spacing-md: 32px;
  --font-spacing-sm: 24px;
  --font-spacing-xs: 16px;
  /*Border*/
  --corner-radius-large-radius: 16px;
  --corner-radius-medium-radius: 8px;
  /*Sizes*/
  --lg: 24px;
  --md: 16px;
  --sm: 8px;
  --xs: 4px;
  --zero: 0px;
}

@media (min-width: 769px) and (max-width: 1280px) {
  :root {
    /*Font Size*/
    --font-sizing-4xl: 56px;
    --font-sizing-3xl: 48px;
    --font-sizing-2xl: 36px;
    --font-sizing-xl: 28px;
    --font-sizing-lg: 22px;
    --font-sizing-md: 18px;
    --font-sizing-sm: 16px;
    --font-sizing-xs: 13px;
    --font-sizing-2xs: 11px;
    /*Font Spacing*/
    --font-spacing-3xl: 96px;
    --font-spacing-2xl: 80px;
    --font-spacing-xl: 64px;
    --font-spacing-lg: 48px;
    --font-spacing-md: 36px;
    --font-spacing-sm: 28px;
    --font-spacing-xs: 16px;
  }
}

@media (min-width: 1281px) {
  :root {
    /*Font Size*/
    --font-sizing-4xl: 72px;
    --font-sizing-3xl: 56px;
    --font-sizing-2xl: 40px;
    --font-sizing-xl: 32px;
    --font-sizing-lg: 24px;
    --font-sizing-md: 20px;
    --font-sizing-sm: 18px;
    --font-sizing-xs: 14px;
    --font-sizing-2xs: 12px;
    /*Font Spacing*/
    --font-spacing-3xl: 96px;
    --font-spacing-2xl: 80px;
    --font-spacing-xl: 64px;
    --font-spacing-lg: 48px;
    --font-spacing-md: 36px;
    --font-spacing-sm: 28px;
    --font-spacing-xs: 16px;
  }
}
