@import './globalVariables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* 
  The components that have css variables that change dynamically
  need to be redeclared in the layer components 
  by adding the class name and the properties that change depending on the media
*/
@layer components {
  .titles-4xl {
    font-size: var(--font-sizing-4xl);
    line-height: var(--font-spacing-3xl);
  }
  .titles-3xl {
    font-size: var(--font-sizing-3xl);
    line-height: var(--font-spacing-2xl);
  }
  .titles-2xl {
    font-size: var(--font-sizing-2xl);
    line-height: var(--font-spacing-xl);
  }
  .titles-xl {
    font-size: var(--font-sizing-xl);
    line-height: var(--font-spacing-md);
  }
  .titles-lg {
    font-size: var(--font-sizing-lg);
    line-height: var(--font-spacing-sm);
  }
  .body-lg {
    font-size: var(--font-sizing-lg);
    line-height: var(--font-spacing-md);
  }
  .body-md {
    font-size: var(--font-sizing-md);
    line-height: var(--font-spacing-sm);
  }
  .body-sm {
    font-size: var(--font-sizing-sm);
    line-height: var(--font-spacing-sm);
  }
  .body-xs {
    font-size: var(--font-sizing-xs);
  }
  .body-2xs {
    font-size: var(--font-sizing-2xs);
    line-height: var(--font-spacing-xs);
  }
}
